/* menu styling */
#menu {
    height: 45px;
    padding-top: 15px;
    width: 90%;
    margin-bottom: auto;
    position: absolute;
    top: 0;
    z-index: 100;
}

#menu > .icon {
    height: 30px;
    fill: var(--brown);
    transition: 200ms ease;
    cursor: pointer;
    margin-right: 10px;
}

@media screen and (min-height: 600px) and (min-width: 400px) {
    #menu {
        height: 60px;
        padding-top: 20px;
    }

    #menu > .icon {
        height: 40px;
    }
}

@media (hover: hover) {
    #menu > .icon:hover {
        fill: var(--orange);
        transform: scale(1.4);
    }
}

#menu > .active {
    fill: var(--orange);
    transform: scale(1.4);
}

#menu svg > * {
    pointer-events: none;
}
