:root {
    --white: #ffffff;
    --brown: #3b1f09;
    --brownTransparent25: #3b1f0940;
    --brownTransparent50: #3b1f0980;
    --brownTransparent75: #3b1f09bf;
    --green: #2ecc71;
    --red: #e74c3c;
    --orange: #d35400;
}
