@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #ffffff;
    --brown: #3b1f09;
    --brownTransparent25: #3b1f0940;
    --brownTransparent50: #3b1f0980;
    --brownTransparent75: #3b1f09bf;
    --green: #2ecc71;
    --red: #e74c3c;
    --orange: #d35400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

@keyframes slide-in {
    from {
        transform: translate(0, -100px);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, -100px);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#preloader {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-in {
    animation: slide-in 1s ease forwards;
}

.slide-out {
    animation: slide-out 1s ease forwards;
}

.fade-out {
    animation: fade-out 1s ease forwards;
}

body {
    background: fixed url('./assets/images/bg.png') center/cover no-repeat;
}

div.container {
    width: 100vw;
    height: 100vh;
    max-width: 400px;
    min-width: 300px;
    min-height: 500px;
    max-height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

div.scroll {
    width: 100%;
    height: 80%;
    background: scroll url('./assets/images/paper.png') top no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#menu {
    height: 10%;
    width: 90%;
    min-height: 35px;
    margin-bottom: auto;
    padding-top: 10px;
}

#menu > svg.popup {
    width: 25px;
    height: 25px;
    fill: var(--brown);
    transition: 200ms ease;
    cursor: pointer;
}

#menu > svg.popup:hover {
    fill: var(--white);
}

#energy {
    /* fallback */
    font-size: 30vh;
    /* fallback */
    font-size: clamp(200px, 30vh, 350px);
    height: 70%;
    line-height: 0;
    font-weight: 600;
    color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#btn {
    height: 20%;
    max-height: 100px;
    min-height: 70px;
    width: 90%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

#btn > button {
    /* fallback */
    font-size: 3vh;
    /* fallback */
    font-size: clamp(15px, 3vh, 20px);
    border: none;
    background-color: var(--brownTransparent75);
    color: var(--white);
    width: calc(100% / 8);
    border-radius: 0;
    transition: 200ms ease;
    cursor: pointer;
    border: 1px solid var(--brownTransparent25);
}

#btn > #endRound {
    border-bottom-left-radius: 10px;
}

#btn > #reset {
    border-bottom-right-radius: 10px;
}

#btn > button:nth-child(1) {
    border-top-left-radius: 10px;
}

#btn > button:nth-child(8) {
    border-top-right-radius: 10px;
}

#btn > button:hover {
    background-color: var(--orange);
}

#btn > button#endRound {
    width: 62.5%;
}

#btn > button#reset {
    width: 37.5%;
}

div#history {
    --margin: 10px;
    width: calc(100% - var(--margin) * 2);
    height: calc(20% - var(--margin));
    background: rgb(255, 255, 255, 0.75);
    border-radius: 10px;
    margin: 0 var(--margin) var(--margin);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

div.history-text {
    /* fallback */
    font-size: 20px;
    /* fallback */
    font-size: clamp(10px, 3vh, 30px);
}

.history-text.new-round {
    color: var(--orange);
}
